clarabel==0.6.0
contourpy==1.1.1
cvxpy==1.4.1
cycler==0.12.1
ecos==2.0.12
fonttools==4.43.1
kiwisolver==1.4.5
matplotlib==3.8.0
numpy==1.26.1
osqp==0.6.3
packaging==23.2
Pillow==10.1.0
ply==3.11
PuLP==2.7.0
pybind11==2.11.1
Pyomo==6.6.2
pyparsing==3.1.1
python-dateutil==2.8.2
qdldl==0.1.7.post0
scipy==1.11.3
scs==3.2.3
six==1.16.0
